<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just Tech News</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css">
    </head>

    <body>
    <div  class="container-fluid">
        <header class="row">
            <div class="col align-self-start"></div>
            <h1 class="col align-self-center">
                <a href="/">Tech-Blog-Insider</a>
            </h1>
            <div class="col align-self-end"></div>
        </header>
        <main class="container-fluid">
        {{{ body }}}
        </main>
        <footer>
        
        </footer>
    </div>
    </body>

</html>