* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #958ebe;
}

header {
    background-color: #4b0082;
    font-family: Marker Felt, fantasy;
    height: 100px;
    text-shadow: 2px 2px #000000;
}

header h1 a {
    color: #fffff0;
    text-decoration: none;
    border-bottom: inherit;
    text-shadow: 3px 3px #000000;
}

header nav a {
    display: flex;
    justify-content: flex-end;
    color: #fffff0;
    text-decoration: none;
    padding-bottom: 5px;
}

.btn-no-style {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    text-shadow: 2px 2px #000000;
    color: #fffff0;
    border: none;
    background: none;
    cursor: pointer;
}

.btn-no-style:hover {
    color: #225ca3;
}

main {
    background-color: #958ebe;
    padding-top: 20px;
    font-family: Georgia, serif;
}

.post-list {
    padding-left: 20%;
}

.title a {
    color: #4b0082;
    text-decoration: none;
}

.info {
    color: #7e7e7e;
}

.formrow {
    border-radius: 20px;
    background-color: #c9c3e4;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.logform {
    display: flex;
    justify-content: center;
}

.form-title {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    border-bottom: groove #000000;
    padding-top: 10px 0 5px 0;
}

.submit-btn {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.submit {
    background-color: #4b0082;
    color: #fffff0;
}

.post {
    margin: 20px;
    background-color: #c9c3e4;
    border-radius: 5px;
    padding: 5px;
    width: 70%;
}

.comment-form {
    margin-left: 5%;
    width: 20%;
}

.textarea,
.comment-form button {
    border-radius: 5px;
    margin: 3px;
    padding: 3px;
}

.btngroup {
    display: flex;
    justify-content: center;
}

.comments {
    background-color: #c9c3e4;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 5%;
    padding-left: 1%;
    width: 30%;
}

h3 {
    margin-left: 5%;
    width: 20%;
}

.h3 {
    padding-top: 20px;
}

.new-post {
    /* background-color: crimson; */
    margin-left: 5%;
    width: 20%;
}

.textbox {
    margin: 10px;
}

.new-post input {
    border-radius: 5px;
}

.new-post-btn {
    margin-left: 30%;
}

.new-post-btn button {
    padding: 5px;
    border-radius: 5px;
}

/* Edit post */
.edit-post-form {
    margin-left: 5%;
    width: 30%;
}

.edit-post-form input {
    border-radius: 5px;
    padding-left: 5px;
}

.edit-post-form button {
    padding: 5px;
    border-radius: 5px;
}

.comment-form textarea {
    border-radius: 5px;
}

@media only screen and (max-width: 424px) {
    .middle {
        column-width: 1000px;
        padding-left: 25%;
    }
}